@use "../../scss/index" as *;

.foto-wisuda-parent {
  margin: 0.7rem;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  background-color: #c69c6d;
  color: white;
  height: 50vh;

  .foto-wisuda-left {
    position: relative;
    margin: auto 0px;
    font-size: 20px;
    text-align: center;

    h3 {
      margin-bottom: 10px;
    }

    img {
      width: 65%;
      object-fit: contain;
    }
  }

  .foto-wisuda-middle {
    width: 100%;
    position: relative;
    margin: auto;
    font-size: 15px;
    text-align: center;

    .ket {
      margin-top: 50px;
    }
  }

  .button {
    bottom: -40vh;
    left: 10%;

    position: relative;

    font-size: 20px;
    text-align: center;
  }
}

.jasa-foto-parent {
  margin: 0.7rem;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  gap: 10px;
  background-color: #c69c6d;
  color: white;
  height: 55vh;
  justify-content: space-evenly;

  img {
    width: 65%;
  }

  .jasa-foto-left {
    width: 100%;
    position: relative;
    margin: auto;
    font-size: 15px;
    text-align: center;
  }

  .jasa-foto-middle {
    position: relative;
    margin: auto 0px;
    font-size: 20px;
    text-align: center;

    h3 {
      margin-bottom: 10px;
    }

    .button {
      margin-top: 2vh;
    }
  }

  .jasa-foto-right {
    width: 100%;
    position: relative;
    margin: auto;
    font-size: 15px;
    text-align: center;
  }
}

.merch-parent {
  margin: 0.7rem;
  background-color: antiquewhite;
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;

  .merch {
    background-color: #c69c6d;
    width: 100%;
    max-width: 400vw;
    border-radius: 7%;
    position: relative;
    text-align: center;

    .merch-produk {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      place-items: center;
      padding: 20px;

      img {
        padding-top: 30px;
        width: 40vh;
      }
      .price {
        text-align: center;
      }
    }

    h2 {
      text-align: center;
      color: white;
      font-size: 30px;
    }
  }
}
