.sub-our-proker {
  text-align: left;
}
.konten-our-proker {
  // overflow: hidden;
  // margin: 0;

  .konten-proker {
    width: 97%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    a {
      width: 100%;
      position: relative;

      .kontoru {
        filter: brightness(65%);
        width: 100%;
        min-height: 70vh;
        max-height: 70vh;
        object-fit: cover;
        padding-top: 20px;
      }
      .overlay {
        @media only screen and (max-width: 900px) {
          font-size: 1rem;
        }
        @media only screen and (max-width: 700px) {
          font-size: 1rem;
          max-width: 200px;
        }
        @media only screen and (max-width: 500px) {
          font-size: 1.3rem;
          max-width: 200px;
        }
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        // top: 24%;
        // left: 30%;
        // width: 50%;
        line-height: 1;
        height: 50vh;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; /* Atur warna teks */
        text-align: left;
        max-width: 300px;
        width: 100%;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 1110px) {
  .konten-our-proker {
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      // top: 24%;
      // left: 30%;
      // width: 50%;
      line-height: 1;
      height: 50vh;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white; /* Atur warna teks */
      text-align: left;
    }
  }
}

// @media only screen and (max-width: 900px) {
//   .konten-our-proker {
//     .overlay {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       // top: 24%;
//       // left: 30%;
//       // width: 50%;
//       line-height: 1;
//       height: 50vh;
//       font-size: 1.2rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       color: white; /* Atur warna teks */
//       text-align: left;
//     }
//   }
// // }
// @media only screen and (max-width: 900px) {
//   .konten-our-proker {
//     .overlay {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       // top: 24%;
//       // left: 30%;
//       // width: 50%;
//       line-height: 1;
//       height: 50vh;
//       font-size: 2rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       color: white; /* Atur warna teks */
//       text-align: left;
//     }

//     // .overlay-bawah {
//     //   top: 27.4rem;
//     // }
//   }
// }

// @media screen and (max-width: 600px) {
//   .konten-our-proker {
//     .overlay {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       // top: 24%;
//       // left: 30%;
//       // width: 50%;
//       line-height: 1;
//       height: 50vh;
//       font-size: 5rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       color: white; /* Atur warna teks */
//       text-align: left;
//     }

//     .overlay-bawah {
//       top: 35.5rem;
//     }
//   }
// }

// @media screen and (max-width: 450px) {
//   .konten-our-proker {
//     .overlay {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       // top: 24%;
//       // left: 30%;
//       // width: 50%;
//       line-height: 1;
//       height: 50vh;
//       font-size: 1rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       color: white; /* Atur warna teks */
//       text-align: left;
//     }

//     .overlay-bawah {
//       top: 35.5rem;
//     }
//   }
// }
