@use "../../scss/index" as *;

.parent {
  .kelas-foga {
    padding: 1rem 0;
    margin-top: 7rem;

    .foga {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      height: 300px;
      background-image: url("https://picsum.photos/1500/500");
      border-radius: 10%;

      h1 {
        font-size: 25px;
        color: white;
        text-align: center;
        padding-top: 16rem;
      }
    }

    // .Kelas-fotografi {
    //   margin-top: 10px;

    //   h1 {
    //     text-align: center;
    //     font-size: 40px;
    //   }
    // }
  }
  .kelas-fotografi {
    justify-content: center;
    text-align: center;

    .kelas-jurnalis-parent {
      justify-content: center;
      display: flex;

      .kelas-jurnalis-left {
        background-image: url("https://picsum.photos/1500/500");
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
      }

      .kelas-jurnalis-right {
        width: 100%;
        text-align: center;
      }
    }
    .kelas-salon-parent {
      justify-content: center;
      display: flex;

      .kelas-salon-left {
        width: 100%;
        text-align: center;
      }

      .kelas-salon-right {
        background-image: url("https://picsum.photos/1500/500");
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
      }
    }

    .kelas-alternatif-parent {
      justify-content: center;
      display: flex;

      .kelas-alternatif-left {
        background-image: url("https://picsum.photos/1500/500");
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
      }

      .kelas-alternatif-right {
        width: 100%;
        text-align: center;
      }
    }
  }

  .members-parent {
    text-align: center;

    img {
      width: 100%;
      justify-content: center;
      border-radius: 5%;
    }
  }
}
