@use "../../scss/index" as *;

.parent-kelas {
  margin: 7rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1350px;
  .kmpf-mencari {
    width: 85%;
    position: relative;
    margin: auto;
    background-image: url("../../components/assets/gallert.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;

    .text-kmpf {
      font-size: 40px;
      position: absolute;
      width: 100%;
      max-height: 400px;
      top: 300px;
      font-weight: 900;
      @media screen and (max-width: 560px) {
        font-size: 28px;
      }
      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
    }
  }
  .parent-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .kelas-fotografi {
      max-width: 33%;

      .mySwiper {
        width: 100%;
        .tes {
          // background-image: url("../../components/assets/jurnalistik.jpeg");
          // object-fit: cover;
          // height: 60vh;
          .jurnalis-konten {
            padding: 10px;
            position: relative;
            width: 100%;
            // height: 100%;

            .judul {
              text-align: center;
              color: white;
              position: absolute;
              width: 50%;
              top: 10%;
              left: 25%;
              font-size: 20px;
            }
            .kontoru {
              width: 100%;
              height: 60vh;
              // max-height: 40vh;
              box-shadow: 5px 10px;
              border-radius: 30px;
              object-fit: cover;
            }
            .text {
              font-size: 14px;

              position: absolute;
              color: white;
              width: 70%;
              top: 30%;
              left: 15%;
              text-align: justify;
            }
          }
        }

        .tes-1 {
          .jurnalis-konten {
            padding: 10px;
            position: relative;
            width: 100%;
            // height: 100%;

            .judul {
              text-align: center;
              color: white;
              position: absolute;
              width: 50%;
              top: 10%;
              left: 25%;
              font-size: 20px;
            }
            .kontoru {
              width: 100%;
              height: 60vh;
              // max-height: 40vh;

              box-shadow: 5px 10px;
              border-radius: 30px;
              object-fit: cover;
            }
            .text {
              font-size: 14px;

              position: absolute;
              color: white;
              width: 70%;
              top: 30%;
              left: 15%;
              text-align: justify;
            }
          }
        }
      }
    }
  }

  .video-reels {
    background-color: #15498e;
    margin: 1rem 2rem;
    border-radius: $border-radius;
    padding-bottom: 2rem;
    cursor: default;

    h1 {
      color: $whiteColor;
      text-align: center;
      font-size: 70px;
      font-weight: 900;
    }

    .mySwiper {
      margin: 0 4rem;

      h5 {
        color: $blackColor;
        margin: 0;
        padding-right: 50px;
        text-align: center;
      }
      p {
        color: $blackColor;
        margin: 0;
        padding-right: 50px;
        text-align: center;
      }
      .photo {
        width: 30vh;
        height: 50vh;
        object-fit: fill;
        border-radius: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1110px) {
  .parent-kelas {
    .parent-child {
      .kelas-fotografi {
        .mySwiper {
          .tes {
            .jurnalis-konten {
              .judul {
              }
              .kontoru {
              }
              .text {
                font-size: 13px;
              }
            }
          }
        }
      }
    }

    .video-reels {
      h1 {
        font-size: 65px;
      }
      .mySwiper {
        .photo {
          width: 23vh;
          height: 40vh;
          object-fit: cover;
          border: 3px solid #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .parent-kelas {
    .parent-child {
      .kelas-fotografi {
        .mySwiper {
          .tes {
            .jurnalis-konten {
              .judul {
                font-size: 16px;
              }
              .kontoru {
              }
              .text {
                font-size: 11px;
              }
            }
          }
        }
      }
    }

    .video-reels {
      h1 {
        font-size: 50px;
      }
      .mySwiper {
        .photo {
          width: 23vh;
          height: 37vh;
          object-fit: cover;
          border: 3px solid #000;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .parent-kelas {
    .parent-child {
      .kelas-fotografi {
        .mySwiper {
          .tes {
            .jurnalis-konten {
              .judul {
                font-size: 15px;
              }
              .kontoru {
              }
              .text {
                font-size: 10px;
              }
            }
          }
        }
      }
    }

    .video-reels {
      h1 {
        font-size: 40px;
      }
      .mySwiper {
        .photo {
          width: 23vh;
          height: 33vh;
          object-fit: cover;
          border: 3px solid #000;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .parent-kelas {
    .parent-child {
      // flex-wrap: wrap;
      .kelas-fotografi {
        max-width: 100%;

        .mySwiper {
          .tes {
            .jurnalis-konten {
              .judul {
                font-size: 18px;
              }
              .kontoru {
                height: 80vh;
              }
              .text {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .video-reels {
      h1 {
        font-size: 30px;
      }
      .mySwiper {
        .photo {
          width: 23vh;
          height: 29vh;
          object-fit: cover;
          border: 3px solid #000;
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .parent-kelas {
    .parent-child {
      // flex-wrap: wrap;
      .kelas-fotografi {
        max-width: 100%;

        .mySwiper {
          .tes {
            .jurnalis-konten {
              .judul {
                font-size: 16px;
              }
              .kontoru {
                max-height: 60vh;
              }
              .text {
                font-size: 13px;
              }
            }
          }
        }
      }
    }

    .video-reels {
      h1 {
        font-size: 30px;
      }
      .mySwiper {
        .photo {
          width: 19vh;
          height: 26vh;
          object-fit: cover;
          border: 3px solid #000;

          @media screen and (max-width: 470px) {
            width: 15vh;
            height: 23vh;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .parent-kelas {
    .parent-child {
      // flex-wrap: wrap;
      .kelas-fotografi {
        max-width: 100%;

        .mySwiper {
          .tes {
            .jurnalis-konten {
              .judul {
                font-size: 16px;
              }
              .kontoru {
              }
              .text {
                top: 28%;
                font-size: 11px;
              }
            }
          }
        }
      }
    }

    .video-reels {
      h1 {
        font-size: 20px;
      }
      .mySwiper {
        .photo {
          width: 11vh;
          height: 18vh;
          object-fit: cover;
          border: 3px solid #000;

          // @media screen and (max-width: 470px) {
          //   width: 15vh;
          //   height: 23vh;
          // }
        }
      }
    }
  }
}
