@use "../../scss/index" as *;

.upload-foto-parent {
  background-color: #edceab;
  margin: 7rem 10px;
  //   justify-content: center;
  //   display: grid;

  .tulisan {
    padding-top: 2rem;
    margin-left: 10vh;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  .upload-foto-child {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 33.3%);
    text-align: center;
    height: 70vh;
    color: white;
    font-size: 20px;
    padding-bottom: 2rem;

    // p {
    //   margin-top: 10vh;
    // }

    .card {
      display: grid;
      place-items: center;
      background-size: cover;
      background-image: url(../../components/assets/proker-terbaru.JPG);
      border: 1px solid #ccc;
      width: 55vh;
      height: 32vh;
      border-radius: 8px;
      overflow: hidden;

      .card-content {
        padding: 16px;
      }

      .card-title {
        font-size: 20px;
        margin-bottom: 8px;
        color: white;
        text-align: center;
      }

      .card-description {
        font-size: 14px;
        color: white;
      }
    }
  }
}
