.news-konten-parent {
  margin-top: 7rem;

  .news-konten-img {
    margin-top: 30px;
    // display: flex;
    // justify-content: space-between;
    margin: auto;
    width: 100%;
    .foto-parent {
      width: 90%;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      // align-items: center;

      .judul-konten {
        // width: 60%;
        // margin-left: auto;
        font-size: 6vh;
        text-align: left;
        margin-bottom: 20px;
      }
      .text-konten {
        font-size: 18px;
        .text {
          width: 100%;
          text-align: justify;
          font-size: 18px;
        }
      }

      .foto-konten {
        .kiri {
          width: 70%;
        }
        display: flex;
        justify-content: space-between;
        .foto {
          .mySwiper {
            width: 100%;
            .kontoru {
              width: 100%;
              height: 90vh;
              background-size: cover;
              // object-position: 0px 10px 10px 10px;
              object-fit: cover;
              border-radius: 10%;
            }
          }
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center; /* Untuk mengatur konten secara vertikal ke tengah */
          justify-content: center;
          // img {
          //   width: 100%;
          //   height: 90vh;
          //   background-size: cover;
          //   // object-position: 0px 10px 10px 10px;
          //   object-fit: cover;
          //   border-radius: 10%;
          // }
        }
        .news-recomendation {
          width: 30%;
          margin-left: 20px;

          .konten-recomendation {
            // width: 70%;
            margin-top: 10px;
            margin-left: auto;

            h4 {
              font-size: 4vh;
            }

            .titit {
              // display: flex;
              // justify-content: space-between;
            }
            .konten-recomendation-child {
              display: flex;
              margin-top: 10px;
              .photo-news {
                img {
                  width: 10vh;
                  height: 13vh;
                  border-radius: 10px;
                }
              }

              .text-news {
                width: 100%;

                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: auto;
                margin-left: 5px;
                //   align-items: stretch;

                .judul-news {
                  // width: 100%;
                  h3 {
                    font-size: 15px;
                  }
                }

                .tags {
                  width: 100%;

                  .seperator {
                    border-top: 1px solid black;
                    margin-top: 10px;
                    width: 100%;
                  }

                  .tags-spesifik {
                    display: flex;
                    .date {
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .pembuat {
        display: flex;
        .date,
        .tags-news {
          margin-left: 5px;
        }
        .tags-news {
          color: blue;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .news-konten-parent {
    .news-konten-img {
      .foto-parent {
        .judul-konten {
          font-size: 30px;
        }
        .text-konten {
          .text {
            // width: 100%;
          }
        }

        .foto-konten {
          display: flex;
          justify-content: space-between;
          // flex-direction: column;
          .kiri {
            width: 70%;
            // width: 100%;
          }
          .foto {
            img {
              // width: 100%;
              height: 70vh;
            }
          }
          .news-recomendation {
            width: 30%;
            // width: 100%;
            .konten-recomendation {
              h4 {
                font-size: 2.5vh;
                margin-left: 0px;
              }

              .titit {
                // display: flex;
                // justify-content: space-between;
              }

              .konten-recomendation-child {
                .photo-news {
                  img {
                    // width: 10%;
                    height: 10vh;
                  }
                }

                .text-news {
                  .judul-news {
                    h3 {
                      font-size: 12px;
                    }
                  }

                  .tags {
                    .seperator {
                    }

                    .tags-spesifik {
                      .date {
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .pembuat {
          .date,
          .tags-news {
          }
          .tags-news {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .news-konten-parent {
    .news-konten-img {
      .foto-parent {
        .judul-konten {
        }
        .text-konten {
          .text {
            width: 100%;
          }
        }

        .foto-konten {
          .kiri {
            width: 65%;
          }
          .foto {
            img {
              width: 100%;
            }
          }
          .news-recomendation {
            width: 35%;
            .konten-recomendation {
              h4 {
                font-size: 2.5vh;
              }

              .konten-recomendation-child {
                .photo-news {
                  img {
                    // width: 90%;
                    height: 10vh;
                  }
                }

                .text-news {
                  .judul-news {
                    h3 {
                      font-size: 11px;
                    }
                  }

                  .tags {
                    .seperator {
                    }

                    .tags-spesifik {
                      font-size: 12px;
                      .date {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .news-konten-parent {
    .news-konten-img {
      .foto-parent {
        .judul-konten {
          font-size: 30px;
        }
        .text-konten {
          .text {
            width: 100%;
          }
        }

        .foto-konten {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .kiri {
            // width: 70%;
            width: 100%;
          }
          .foto {
            img {
              width: 100%;
              // height: 70vh;
            }
          }
          .news-recomendation {
            width: 100%;
            .konten-recomendation {
              h4 {
                font-size: 2.5vh;
                margin-left: 0px;
              }

              .titit {
                display: flex;
                justify-content: space-between;
              }

              .konten-recomendation-child {
                .photo-news {
                  img {
                    width: 8vh;
                    height: 10vh;
                  }
                }

                .text-news {
                  .judul-news {
                    h3 {
                      font-size: 10px;
                    }
                  }

                  .tags {
                    .seperator {
                    }

                    .tags-spesifik {
                      font-size: 10px;
                      .date {
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .pembuat {
          .date,
          .tags-news {
          }
          .tags-news {
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 575px) {
//   .news-konten-parent {
//     .news-konten-img {
//       .foto-parent {
//         .judul-konten {
//         }
//         .text-konten {
//           .text {
//             width: 60vh;
//           }
//         }

//         .foto-konten {
//           .foto {
//             img {
//               width: 60vh;
//             }
//           }
//           .news-recomendation {
//             .konten-recomendation {
//               h4 {
//                 font-size: 3vh;
//               }

//               .konten-recomendation-child {
//                 .photo-news {
//                   img {
//                     width: 13vh;
//                     height: 12vh;
//                   }
//                 }

//                 .text-news {
//                   .judul-news {
//                     h3 {
//                       font-size: 9px;
//                     }
//                   }

//                   .tags {
//                     .seperator {
//                     }

//                     .tags-spesifik {
//                       font-size: 9px;
//                       .date {
//                       }
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }
//         .pembuat {
//           .date,
//           .tags-news {
//           }
//           .tags-news {
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 575px) {
  .news-konten-parent {
    .news-konten-img {
      .foto-parent {
        .judul-konten {
        }
        .text-konten {
          .text {
            width: 100%;
            font-size: 18px;
          }
        }

        .foto-konten {
          font-size: 18px;
          .kiri {
            width: 100%;
          }
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .foto {
            // width: 100%;
            img {
              width: 80%;
              height: 30vh;
              margin: auto;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .news-recomendation {
            width: 100%;
            margin-left: 0px;

            .konten-recomendation {
              // width: 70%;
              margin-top: 10px;
              // margin-left: auto;

              h4 {
                font-size: 3vh;
                text-align: center;
                text-decoration: underline;
              }

              .titit {
                display: flex;
                justify-content: space-evenly;
              }
              .konten-recomendation-child {
                display: flex;

                .photo-news {
                  img {
                    width: 10vh;
                    height: 12vh;
                  }
                }

                .text-news {
                  .judul-news {
                    h3 {
                      font-size: 8px;
                    }
                  }

                  .tags {
                    .tags-spesifik {
                      font-size: 7px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
