.news-konten-parent {
  margin-top: 7rem;

  .news-konten-img {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;

    .foto-parent {
      margin: auto;

      .judul-konten {
        width: 90%;
        font-size: 7vh;
        text-align: left;
        margin-bottom: 20px;
      }
      .text-konten {
        .text {
          width: 55%;
          text-align: justify;
        }
      }

      .foto-konten {
        display: flex;
        justify-content: space-between;

        .foto {
          img {
            width: 110vh;
            height: 70vh;
          }
        }
        .news-recomendation {
          // margin-left: 3rem;
          .konten-recomendation {
            width: 90%;
            margin-top: 10px;
            margin-left: auto;

            h4 {
              font-size: 5vh;
            }

            .konten-recomendation-child {
              display: flex;
              margin-top: 10px;
              .photo-news {
                img {
                  width: 23vh;
                  height: 13vh;
                  border-radius: 10px;
                }
              }

              .text-news {
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                //   align-items: stretch;

                .judul-news {
                  width: 100%;
                  h3 {
                    font-size: 15px;
                  }
                }

                .tags {
                  .seperator {
                    border-top: 1px solid black;
                    margin-top: 10px;
                  }

                  .tags-spesifik {
                    display: flex;
                    .date {
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .pembuat {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        .date,
        .tags-news {
          padding-left: 10px;
        }
        .tags-news {
          font-weight: 600;
        }
      }
    }
  }
}
