@use "../../scss/index" as *;

.rental-foto {
  background-color: white;
  color: $whiteColor;

  // padding: 2rem 0;
  // margin-top: 1.3rem;

  // font-size: 20rem;

  .fotografi-parent {
    margin-top: 1rem;
    background-color: #ffc918;
    color: $whiteColor;
    height: 550px;
    // margin-top: 2rem;
    display: flex;
    align-items: center;
    cursor: default;
    @media only screen and (max-width: 910px) {
      height: 500px;
    }
    @media only screen and (max-width: 600px) {
      height: 350px;
    }
    @media only screen and (max-width: 450px) {
      height: 320px;
    }

    .fotografi {
      position: relative;
      width: 100%;
      // max-width: 1500px;
      height: 500px;
      background-size: cover;
      background-position: top;
      background-image: url("../../components/assets/menyediakan-foto-grafi.jpg");
      background-repeat: no-repeat;
      cursor: default;
      @media only screen and (max-width: 910px) {
        height: 400px;
      }
      @media only screen and (max-width: 600px) {
        height: 300px;
      }
      // @media only screen and (max-width: 350px) {
      //   height: 280px;
      // }

      .text {
        display: flex;
        justify-content: space-between;
        margin: auto;
        // align-items: center;

        @media only screen and (max-width: 575px) {
          margin-top: 30px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        @media only screen and (max-width: 450px) {
          margin-top: 40px;
        }
        @media only screen and (max-width: 370px) {
          margin-top: 50px;
        }
        h1 {
          width: 60%;
          font-size: 80px;
          padding-left: 20px;
          @media only screen and (max-width: 1100px) {
            font-size: 60px;
          }
          @media only screen and (max-width: 910px) {
            font-size: 50px;
          }
          @media only screen and (max-width: 720px) {
            font-size: 40px;
          }
          @media only screen and (max-width: 575px) {
            width: 50%;
            margin: auto;
            font-size: 30px;
            padding-left: 0;
          }
          @media only screen and (max-width: 450px) {
            // font-size: 25px;
            width: 50%;
            font-size: 25px;
          }
          @media only screen and (max-width: 370px) {
            font-size: 20px;
            width: 50%;
          }
        }
        h4 {
          font-size: 35px;
          width: 30%;
          padding-right: 10px;
          margin: auto 0 auto auto;
          @media only screen and (max-width: 1100px) {
            font-size: 30px;
          }
          @media only screen and (max-width: 1100px) {
            font-size: 25px;
          }
          @media only screen and (max-width: 720px) {
            font-size: 20px;
          }
          @media only screen and (max-width: 575px) {
            font-size: 20px;
            width: 50%;
            padding-top: 20px;
            padding-right: 0;
            margin: auto;
          }
          @media only screen and (max-width: 450px) {
            font-size: 17px;
            width: 50%;
          }
          @media only screen and (max-width: 370px) {
            font-size: 15px;
            width: 50%;
          }
        }
      }

      .book-now {
        .btn {
          padding: 5px;
          width: 120px;
          background-color: #15498e;
          color: #ffc918;
        }
        position: absolute;
        left: 80%;
        bottom: 20px;
        transform: translate(-50%, -20px);
        @media only screen and (max-width: 575px) {
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, -5px);
        }
        @media only screen and (max-width: 450px) {
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, -20px);
        }
      }
    }
  }

  .rental-parent {
    margin-top: 1rem;
    background-color: #ffc918;
    color: $whiteColor;
    height: 650px;
    // margin-top: 2rem;
    display: flex;
    align-items: center;
    cursor: default;
    @media only screen and (max-width: 910px) {
      height: 500px;
    }
    @media only screen and (max-width: 600px) {
      height: 350px;
    }
    @media only screen and (max-width: 450px) {
      height: 320px;
    }

    .rental {
      position: relative;
      width: 100%;
      height: 600px;
      background-size: cover;
      background-position: center;
      background-image: url("../../components/assets/menyewakan.jpg");
      background-repeat: no-repeat;
      cursor: default;
      @media only screen and (max-width: 910px) {
        height: 400px;
      }
      @media only screen and (max-width: 670px) {
        height: 350px;
      }
      @media only screen and (max-width: 600px) {
        height: 300px;
      }

      .text {
        display: flex;
        justify-content: space-between;
        margin: auto;
        // align-items: center;

        @media only screen and (max-width: 575px) {
          margin-top: 25px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        @media only screen and (max-width: 460px) {
          margin-top: 30px;
        }
        @media only screen and (max-width: 370px) {
          margin-top: 40px;
        }

        h1 {
          width: 60%;
          font-size: 70px;
          padding-left: 20px;
          @media only screen and (max-width: 1100px) {
            font-size: 50px;
          }
          @media only screen and (max-width: 910px) {
            font-size: 50px;
          }
          @media only screen and (max-width: 800px) {
            font-size: 40px;
          }
          @media only screen and (max-width: 670px) {
            font-size: 35px;
          }
          @media only screen and (max-width: 575px) {
            width: 50%;
            margin: auto;
            font-size: 25px;
            padding-left: 0;
          }
          @media only screen and (max-width: 460px) {
            // font-size: 25px;
            width: 50%;
            font-size: 20px;
          }
          @media only screen and (max-width: 370px) {
            font-size: 17px;
            width: 50%;
          }
        }
        h4 {
          font-size: 35px;
          width: 30%;
          padding-right: 10px;
          margin: auto 0 auto auto;
          @media only screen and (max-width: 1100px) {
            font-size: 23px;
          }
          // @media only screen and (max-width: 1100px) {
          //   font-size: 25px;
          // }
          @media only screen and (max-width: 800px) {
            font-size: 18px;
          }
          @media only screen and (max-width: 575px) {
            font-size: 17px;
            width: 50%;
            padding-top: 20px;
            padding-right: 0;
            margin: auto;
          }
          @media only screen and (max-width: 460px) {
            font-size: 15px;
            width: 50%;
          }
          @media only screen and (max-width: 370px) {
            font-size: 13px;
            width: 50%;
          }
        }
      }

      .book-now {
        .btn {
          padding: 5px;
          width: 120px;
          background-color: #15498e;
          color: #ffc918;
        }
        position: absolute;
        left: 80%;
        bottom: 20px;
        transform: translate(-50%, -20px);
        @media only screen and (max-width: 575px) {
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, -5px);
        }
        @media only screen and (max-width: 450px) {
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, -20px);
        }
      }
    }
  }
}

.galery {
  background-color: #ffc918;
  color: $whiteColor;
  height: 650px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  cursor: default;

  @media only screen and (max-width: 500px) {
    height: 400px;
  }

  .background {
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url("../../components/assets/gallert.jpg");
    background-size: cover;
    background-position: center;
    @media only screen and (max-width: 500px) {
      height: 370px;
      background-image: url("../../components/assets/Picsart_23-09-20_00-12-59-816.jpg");
    }

    h1 {
      position: absolute;
      right: 5rem;
      font-size: 5rem;
      color: white;
      @media only screen and (max-width: 500px) {
        // padding-left: 2rem;
        padding-top: 40px;
        font-size: 3.5rem;
      }
      @media only screen and (max-width: 420px) {
        // padding-left: 2rem;
        font-size: 3.5rem;
      }
    }
  }
}

.phototalk {
  // max-width: 100rem;
  background-color: #ffc918;
  margin: 1rem 2rem;
  border-radius: $border-radius;
  padding-bottom: 2rem;
  cursor: default;

  h1 {
    color: $whiteColor;
    text-align: center;
    font-size: 5rem;
    @media only screen and (max-width: 420px) {
      // padding-left: 2rem;
      font-size: 3.5rem;
    }
  }

  .mySwiper {
    margin: 0 4rem;

    h5,
    p {
      color: $blackColor;
      // margin: 0;
      // padding-right: 30px;
      text-align: center;
    }

    .photo {
      @media only screen and (max-width: 910px) {
        // width: 20vh;

        // height: 17vh;
      }

      @media only screen and (max-width: 801px) {
        // width: 16vh;

        // height: 17vh;
      }
      @media only screen and (max-width: 450px) {
        // width: 14vh;

        height: 12vh;
      }
      background-size: fill;
      max-width: 100%;
      height: 23vh;
      border-radius: 10%;
    }
  }
}
