.phototalk-parent {
  margin-top: 7rem;
  .phototalk-teks {
    h3 {
      text-align: center;
      width: 50%;
      margin: auto;
      font-size: 40px;
    }
    p {
      padding-top: 3rem;
      text-align: justify;
      width: 70%;
      margin: auto;
      font-size: 30px;
      margin-bottom: 3rem;
    }
  }
  .phototalk-konten {
    .section {
      .swiper-button-prev,
      .swiper-button-next {
        color: #ff0000; /* Ganti dengan warna yang Anda inginkan */
      }

      /* Untuk mengubah warna panah navigasi saat di hover */
      .swiper-button-prev:hover,
      .swiper-button-next:hover {
        color: #00ff00; /* Ganti dengan warna yang Anda inginkan */
      }
      .konten {
        width: 93%;
        margin: auto;
        .kontoru {
          width: 100%;
          border-radius: 10%;
        }
        .overlay {
          position: absolute;
          top: 4rem;
          left: 25%;
          width: 50%;
          line-height: 1;
          font-size: 3.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white; /* Atur warna teks */
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .phototalk-parent {
    .phototalk-teks {
      h3 {
      }
      p {
      }
    }
    .phototalk-konten {
      .section {
        /* Untuk mengubah warna panah navigasi saat di hover */

        .konten {
          width: 88%;
          .kontoru {
          }
          .overlay {
            font-size: 40px;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 970px) {
//   .phototalk-parent {
//     .phototalk-teks {
//       h3 {
//       }
//       p {
//       }
//     }
//     .phototalk-konten {
//       .section {
//         /* Untuk mengubah warna panah navigasi saat di hover */

//         .konten {
//           width: 88%;
//           .kontoru {
//           }
//           .overlay {
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 768px) {
  .phototalk-parent {
    .phototalk-teks {
      h3 {
      }
      p {
      }
    }
    .phototalk-konten {
      .section {
        .konten {
          width: 82%;
          .kontoru {
          }
          .overlay {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .phototalk-parent {
    .phototalk-teks {
      h3 {
      }
      p {
      }
    }
    .phototalk-konten {
      .section {
        .konten {
          width: 82%;
          .kontoru {
          }
          .overlay {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .phototalk-parent {
    .phototalk-teks {
      h3 {
      }
      p {
      }
    }
    .phototalk-konten {
      .section {
        .konten {
          .kontoru {
          }
          .overlay {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 468px) {
  .phototalk-parent {
    .phototalk-teks {
      h3 {
      }
      p {
        font-size: 13px;
      }
    }
    .phototalk-konten {
      .section {
        .konten {
          width: 70%;
          .kontoru {
            width: 100%;
          }
          .overlay {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .phototalk-parent {
    .phototalk-teks {
      h3 {
      }
      p {
      }
    }
    .phototalk-konten {
      .section {
        .konten {
          width: 70%;
          .kontoru {
            width: 100%;
          }
          .overlay {
            font-size: 14px;
          }
        }
      }
    }
  }
}
