@use "../../scss/index" as *;

.navbar {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: $whiteColor;

  .logo {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    cursor: pointer;

    img {
      width: 7vh;
    }

    p {
      margin: auto;
    }

    // &__text {
    //   margin-left: 1rem;
    //   color: $blackColor;
    // }
  }

  &__wrap {
    @include flex(center, space-between);
    padding: 0 2rem;
    height: 100%;
    position: relative;

    &__display {
      @include flex(center, unset);
      gap: 30px;
      position: relative;

      li {
        padding: 5px 0;
        font-weight: 500;
        position: relative;
        font-size: 1.3rem;
        width: max-content;

        .text {
          color: $blackColor;
          transition: ease-out 0.3s;

          &:hover {
            color: #c69c6d;
          }
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 2;

        .text-content {
          padding: 10px;
          font-size: 16px;
          color: #3c3c3c;
          border: 1px solid #000000;
          transition: 0.3s ease-in-out;
          white-space: nowrap;

          &:hover {
            color: #c69c6d;
          }
        }
      }

      li:hover .dropdown-content {
        display: flex;
        flex-direction: column;
      }

      @include tablet {
        position: absolute;
        top: 0;
        right: -230px;
        display: block;
        padding: 6rem 15px;
        margin: 0;
        width: 200px;
        height: 100vh;
        transition: ease-in-out 300ms;
        background-color: $whiteColor;
        z-index: 20;

        &.isActive {
          right: 0;
        }

        li {
          font-size: 1.8rem;
          margin-bottom: 2rem;
        }
      }
    }

    .buttonDisplay {
      display: none;
      z-index: 21;
    }

    @include tablet {
      .buttonDisplay {
        display: block;
      }
    }
  }
}
