@use "../../scss/index" as *;

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: antiquewhite;
  z-index: 2000;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: #3c3c3c;
  position: sticky;
  top: 0;
  left: 0;
  background: antiquewhite;
  z-index: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  box-sizing: content-box;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: grey;
  position: relative;
}
#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 grey;
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 grey;
  z-index: -1;
}
#sidebar .side-menu li .link {
  width: 100%;
  height: 100%;
  background: antiquewhite;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  white-space: nowrap;
  overflow-x: hidden;
  transition: 0.5 ease-in-out;
}
#sidebar.hide .side-menu li .link {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
  color: red;
}

#sidebar .logout {
  margin-left: 40px;
}

#sidebar .side-menu li .link:hover {
  background-color: #9c9c9c;
  color: #f1f1f1;
}
#sidebar .side-menu li .link.active {
  background-color: #9c9c9c;
  color: #f1f1f1;
}
#sidebar .side-menu li .link .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}
