.parent {
  margin: 7rem 20px;
  .top-parent {
    display: flex;
    // justify-content: flex-start;
    // margin-left: 30px;

    .parent-kontent {
      margin: 10px;
      margin-left: 0;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn {
  margin: 10px;
}

/* CSS untuk Tombol Aksi */
// .action-buttons {
//   display: flex;
//   justify-content: space-between;
// }

// .edit-button,
// .delete-button {
//   padding: 5px 10px;
//   cursor: pointer;
//   text-decoration: none;
// }

// .edit-button {
//   background-color: #4caf50;
//   color: white;
// }

// .delete-button {
//   background-color: #f44336;
//   color: white;
// }
