.news-parent {
  .tes {
    display: flex;
    margin-left: auto;
    padding-top: 1rem;
    margin-left: 10px;
    padding-bottom: 1rem;

    .photo-news {
      img {
        width: 50vh;
        height: 40vh;
        border-radius: 10px;
      }
    }

    .text-news {
      width: 100%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      font-size: 20px;

      .judul-news {
      }

      .tags {
        .seperator {
          position: relative;
          border-top: 1px solid black;
          margin-top: 10px;
        }

        .tags-spesifik {
          display: flex;
          .date {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1110px) {
}

@media only screen and (max-width: 912px) {
  .news-parent {
    .tes {
      .photo-news {
        img {
          width: 30vh;
          height: 35vh;
          border-radius: 10px;
        }
      }
    }
    .text-news {
      .judul-news {
        font-size: 19px;
      }
      .tags {
        .seperator {
        }

        .tags-spesifik {
          font-size: 16px;
          .date {
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .news-parent {
    .tes {
      .photo-news {
        img {
          width: 30vh;
          height: 35vh;
          border-radius: 10px;
        }
      }
    }
    .text-news {
      .judul-news {
        font-size: 19px;
      }
      .firt-sentence {
        font-size: 15px;
      }
      .tags {
        .seperator {
        }

        .tags-spesifik {
          font-size: 17px;
          .date {
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 610px) {
  .news-parent {
    .tes {
      .photo-news {
        img {
          width: 30vh;
          height: 35vh;
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .news-parent {
    .tes {
      .photo-news {
        img {
          width: 20vh;
          height: 25vh;
          border-radius: 10px;
        }
      }

      .text-news {
        .judul-news {
          font-size: 12px;
        }
        .firt-sentence {
          font-size: 10px;
        }
        .tags {
          .seperator {
          }

          .tags-spesifik {
            font-size: 12px;
            .date {
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 368px) {
  .news-parent {
    .tes {
      .photo-news {
        img {
          width: 18vh;
          height: 20vh;
          border-radius: 10px;
        }
      }

      .text-news {
        .judul-news {
          font-size: 10px;
        }
        .firt-sentence {
          font-size: 10px;
        }
        .tags {
          .seperator {
          }

          .tags-spesifik {
            font-size: 11px;
            .date {
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 285px) {
  .news-parent {
    .tes {
      .photo-news {
        img {
        }
      }

      .text-news {
        .judul-news {
          font-size: 9px;
        }
        .tags {
          .seperator {
          }

          .tags-spesifik {
            font-size: 10px;
            .date {
            }
          }
        }
      }
    }
  }
}
