$poppinsFont: "Poppins", sans-serif;

$whiteColor: #f4f4f4;
$blackColor: #222;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 7px 0px;

$header-height: 6rem;
$header-shrink-height: 4rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 900px;
