.merch-parent {
  margin: 6rem 0.7rem;
  background-color: white;
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;

  .merch {
    background-color: white;
    width: 100%;
    max-width: 400vw;
    // border-radius: 7%;
    position: relative;
    text-align: center;

    .logoheader {
      margin-bottom: -50px;
      width: 30vh;
    }

    .logo img {
      width: 15vh;
      //   display: flex;
      justify-content: center;
      align-items: center;
    }

    .merch-produk {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      place-items: center;
      padding: 20px;

      img {
        padding-top: 10px;
        width: 50vh;
        height: 40vh;
      }

      .tulisan {
        .price {
          text-align: center;
        }
        .nama-merch {
          font-size: 20px;
          font-weight: 600;
        }
        .btn {
          background-color: #15498e;
          color: #ffc918;
        }
      }
    }
  }
}

//tulisan idr rata kiri
//purchase now direct ke toped
