.merch-parent {
  margin: 6rem 0.7rem;
  background-color: white;

  .merch {
    background-color: white;
    width: 100%;

    text-align: center;

    .gambar {
      .logoheader {
        margin-bottom: -70px;
        width: 40vh;
      }

      .logo img {
        width: 30vh;
      }
    }

    .merch-produk {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      max-width: 95%;
      margin: auto;

      .merch1 {
        margin-bottom: 60px;
        img {
          padding-top: 10px;
          width: 45vh;
          margin: 0 80px 0 80px;
          height: 40vh;
        }

        .tulisan {
          // font-size: 20px;

          .price {
            font-size: 16px;
            margin-bottom: 10px;
            text-align: center;
            // width: 50%;
            // margin: auto;
          }
          .nama-merch {
            font-size: 20px;
            font-weight: 600;
            width: 60%;
            margin: auto;
            margin-bottom: 10px;
          }
          .btn {
            background-color: #15498e;
            color: #ffc918;
            width: 60%;
            padding: 0px;

            // margin: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .merch-parent {
    .merch {
      .logoheader {
      }

      .logo img {
      }

      .merch-produk {
        .merch1 {
          img {
            width: 40vh;
            margin: 0 50px 0 50px;
            height: 40vh;
          }

          .tulisan {
            // font-size: 20px;
            .price {
            }
            .nama-merch {
            }
            .btn {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .merch-parent {
    .merch {
      .logoheader {
      }

      .logo img {
      }

      .merch-produk {
        .merch1 {
          img {
            max-width: 25vh;
            margin: 0 70px 0 70px;
            height: 23vh;

            @media screen and (max-width: 768px) {
              width: 25vh;
              margin: 0 30px 0 30px;
              height: 25vh;
            }
            @media screen and (max-width: 560px) {
              width: 20vh;
              margin: 0 20px 0 20px;
              height: 20vh;
            }
            @media screen and (max-width: 420px) {
              width: 15vh;
              margin: 0px 10px 0 10px;
              height: 15vh;
            }
          }

          .tulisan {
            // font-size: 20px;
            .price {
            }
            .nama-merch {
            }
            .btn {
            }
          }
        }
      }
    }
  }
}
