.merch-parent {
  margin: 7rem auto;
  background-color: white;
  max-width: 1450px;

  .merch {
    background-color: white;
    width: 100%;

    text-align: center;

    .gambar {
      .logoheader {
        text {
          font-size: 40px;
          @media screen and (max-width: 768px) {
            font-size: 30px;
          }
        }
        #curve {
          fill: transparent;
        }
      }

      .logo img {
        margin-top: -50px;
        width: 30vh;
        @media screen and (max-width: 768px) {
          width: 25vh;
        }
      }
    }

    .merch-produk {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      max-width: 95%;
      margin: auto;

      .merch1 {
        margin-bottom: 60px;
        img {
          padding-top: 10px;
          min-width: 45vh;
          max-width: 60vh;
          margin: 0 80px 0 80px;
          height: 40vh;
        }

        .tulisan {
          // font-size: 20px;

          .price {
            font-size: 14px;
            margin-bottom: 10px;
            text-align: center;
            // width: 50%;
            // margin: auto;
          }
          .nama-merch {
            font-size: 20px;
            font-weight: 600;
            width: 60%;
            margin: auto;
            margin-bottom: 10px;
            @media screen and (max-width: 768px) {
              font-size: 16px;
              width: 80%;
            }
            @media screen and (max-width: 420px) {
              font-size: 13px;
            }
          }
          .btn {
            background-color: #15498e;
            color: #ffc918;
            width: 40%;
            padding: 5px;

            // margin: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .merch-parent {
    .merch {
      .logoheader {
      }

      .logo img {
      }

      .merch-produk {
        .merch1 {
          img {
            max-width: 40vh;
            margin: 0 50px 0 50px;
            height: 40vh;
          }

          .tulisan {
            // font-size: 20px;
            .price {
            }
            .nama-merch {
            }
            .btn {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .merch-parent {
    .merch {
      .logoheader {
      }

      .logo img {
      }

      .merch-produk {
        .merch1 {
          img {
            min-width: 30vh;
            margin: 0 70px 0 70px;
            height: 23vh;

            @media screen and (max-width: 768px) {
              min-width: 35vh;
              margin: 0 50px 0 50px;
              height: 28vh;
            }
            @media screen and (max-width: 600px) {
              min-width: 30vh;
              margin: 0 20px 0 20px;
              height: 25vh;
            }
            @media screen and (max-width: 420px) {
              min-width: 25vh;
              margin: 0px 10px 0 10px;
              height: 20vh;
            }
            @media screen and (max-width: 340px) {
              min-width: 20vh;
              margin: 0px 10px 0 10px;
              height: 20vh;
            }
          }

          .tulisan {
            // font-size: 20px;
            .price {
            }
            .nama-merch {
            }
            .btn {
            }
          }
        }
      }
    }
  }
}
