.aboutus-parent {
  background-color: antiquewhite;
  margin: 7rem 10px;
  position: relative;
  text-align: center;
  flex: column;
  // font-family: "Courier New", Courier, monospace;
  h2 {
    margin: 10px;
  }

  .aboutus {
    display: flex;
    justify-content: center;
    margin: 10px 30px;

    .mySwiper {
      width: 100vh;
      height: 68vh;
      //   flex: column;
      img {
        width: 100%;
        object-fit: fill;
        border-radius: 10%;
      }
    }

    .text-kanan {
      text-align: center;
      position: relative;
      //   margin: 10px;
      margin: auto 10px;
      font-size: 20px;
    }
  }

  .text-aboutus {
    text-align: left;
    font-size: 25px;
    margin: 30px 50px;
    width: 90%;
    position: relative;

    h3,
    h4 {
      margin-bottom: 10px;
    }
  }

  .text-usaha {
    text-align: left;
    font-size: 25px;
    margin: 30px 50px;
    width: 90%;
    position: relative;

    h3,
    h4 {
      margin-bottom: 10px;
    }
  }
  .detail-usaha {
    margin-left: 15px;
  }

  .team {
    margin: 0.7rem 10px;

    h3 {
      font-size: 30px;
    }

    .team-child {
      display: grid;
      grid-template-columns: repeat(3, 33.3%);

      .nama {
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
      }
    }

    img {
      width: 20%;
    }
  }
}

// .map-container {
//   width: 100%;
//   height: 100px; /* Atur tinggi sesuai kebutuhan Anda */
// }

@media only screen and (max-width: 1110px) {
}

@media only screen and (max-width: 970px) {
  .aboutus-parent {
    // font-family: "Courier New", Courier, monospace;
    h2 {
    }

    .aboutus {
      .mySwiper {
        //   flex: column;
        img {
        }
      }

      .text-kanan {
      }
    }

    .text-aboutus {
      h3,
      h4 {
      }
    }

    .text-usaha {
      h3,
      h4 {
      }
    }
    .detail-usaha {
    }

    .team {
      h3 {
      }

      .team-child {
        .nama {
        }
      }

      img {
      }
    }
  }
}

@media only screen and (max-width: 768px) {
}
