.aboutus-parent {
  background-color: white;
  margin: 6rem 10px;
  position: relative;
  text-align: center;
  flex: column;
  padding: 10px;
  h2 {
    text-decoration: underline;
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 40px;
  }

  .aboutus {
    width: 100%;
    margin: auto;

    .mySwiper {
      width: 100%;
      .slide {
        text-align: justify;
        display: flex;

        .tes {
          display: flex;
          .foto-about {
            width: 50%;
            margin: auto;
            img {
              width: 100%;
              object-fit: fill;
              border-radius: 10%;
            }
          }

          .teks-about {
            width: 50%;
            margin: auto;
            padding-right: 30px;
            padding-left: 20px;

            h3 {
              text-align: center;
              margin-bottom: 10px;
              // margin-left: 20px;
              font-weight: bold;
            }
            p {
              font-weight: 600;
              font-size: 20px;
              margin-bottom: 10px;
              // margin-left: 20px;
            }
          }
        }
      }
    }
  }

  .text-aboutus {
    text-align: left;
    font-size: 25px;
    margin: 0 20px;
    width: 90%;
    position: relative;

    h3 {
      letter-spacing: 5px;
    }

    h3,
    h4 {
      padding-top: 10px;
      margin-bottom: 5px;
    }
  }

  .text-usaha {
    text-align: left;
    font-size: 25px;
    margin: 20px 20px;
    width: 90%;
    position: relative;

    h3,
    h4 {
      margin-bottom: 5px;
    }
  }
  .detail-usaha {
    margin-left: 15px;
  }

  .team {
    padding: 40px;
    border-radius: 20px;
    background-color: #ffc918;
    margin: 0.7rem 10px;

    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    .team-child {
      display: grid;
      grid-template-columns: repeat(3, 33.3%);

      .nama {
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      .jabatan {
        font-size: 15px;
        padding: 10px;
      }
    }

    img {
      margin-top: 10px;
      width: 40%;
      border-radius: 10%;
    }
  }
  .maps {
    margin-top: 3rem;
    width: 100%;
    .maps-konten {
      width: 95%;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 1110px) {
  .aboutus-parent {
    h2 {
    }

    .aboutus {
      .mySwiper {
        .slide {
          .tes {
            .foto-about {
              img {
              }
            }

            .teks-about {
              h3 {
              }
              p {
                font-size: 16.5px;
              }
            }
          }
        }
      }

      .text-kanan {
        h3 {
        }
        p {
        }
      }
    }
    .team {
      h3 {
      }

      .team-child {
        .nama {
        }
      }

      img {
        width: 80%;
      }
    }

    .text-aboutus {
      font-size: 20px;
      h3,
      h4 {
      }
    }

    .text-usaha {
      font-size: 20px;
      h3,
      h4 {
      }
    }
    .detail-usaha {
    }

    .team {
      h3 {
        font-size: 20px;
      }

      .team-child {
        .nama {
          font-size: 15px;
        }
        .jabatan {
          font-size: 15px;
        }
      }

      img {
      }
    }
    .maps {
      .maps-konten {
      }
    }
  }
}

@media only screen and (max-width: 910px) {
  .aboutus-parent {
    h2 {
    }

    .aboutus {
      .mySwiper {
        .slide {
          .tes {
            .foto-about {
              img {
              }
            }

            .teks-about {
              h3 {
              }
              p {
                font-size: 14.5px;
              }
            }
          }
        }
      }

      .text-kanan {
        h3 {
        }
        p {
        }
      }
    }

    .text-aboutus {
      font-size: 18px;
    }

    .text-usaha {
      font-size: 18px;
    }
    .team {
      h3 {
      }

      .team-child {
        .nama {
          font-size: 18px;
        }
      }

      img {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 790px) {
  .aboutus-parent {
    h2 {
    }

    .aboutus {
      .mySwiper {
        .slide {
          .tes {
            .foto-about {
              img {
              }
            }

            .teks-about {
              h3 {
              }
              p {
                font-size: 11.5px;
              }
            }
          }
        }
      }

      .text-kanan {
        h3 {
        }
        p {
        }
      }
    }

    .text-aboutus {
      font-size: 15px;
      h3,
      h4 {
      }
    }

    .text-usaha {
      font-size: 15px;
      h3,
      h4 {
      }
    }
    .detail-usaha {
    }

    .team {
      h3 {
      }

      .team-child {
        .nama {
        }
      }

      img {
        width: 80%;
      }
    }
    .maps {
      .maps-konten {
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .aboutus-parent {
    h2 {
    }

    .aboutus {
      .mySwiper {
        .slide {
          .tes {
            .foto-about {
              img {
              }
            }

            .teks-about {
              h3 {
              }
              p {
                font-size: 11px;
              }
            }
          }
        }
      }

      .text-kanan {
        h3 {
        }
        p {
        }
      }
    }

    .text-aboutus {
      font-size: 13px;
      h3,
      h4 {
      }
    }

    .text-usaha {
      font-size: 13px;
      h3,
      h4 {
      }
    }
    .detail-usaha {
    }

    .team {
      h3 {
        font-size: 17px;
      }

      .team-child {
        .nama {
          font-size: 12px;
        }
        .jabatan {
          font-size: 10px;
        }
      }

      img {
        width: 90%;
      }
    }
    .maps {
      .maps-konten {
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .aboutus-parent {
    h2 {
    }

    .aboutus {
      .mySwiper {
        .slide {
          .tes {
            .foto-about {
              img {
              }
            }

            .teks-about {
              h3 {
              }
              p {
                font-size: 9px;
              }
            }
          }
        }
      }

      .text-kanan {
        h3 {
        }
        p {
        }
      }
    }

    .text-aboutus {
      font-size: 11px;
      h3,
      h4 {
      }
    }

    .text-usaha {
      font-size: 11px;
      h3,
      h4 {
      }
    }
    .detail-usaha {
    }

    .team {
      h3 {
      }

      .team-child {
        .nama {
        }
      }

      img {
        width: 90%;
      }
    }
    .maps {
      .maps-konten {
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .aboutus-parent {
    h2 {
      font-size: 25px;
    }

    .aboutus {
      .mySwiper {
        .slide {
          .tes {
            display: flex;
            flex-direction: column;
            align-items: center;
            .foto-about {
              img {
                width: 100%;
              }
            }

            .teks-about {
              width: 75%;
              margin-left: 0;
              margin: auto;
              // margin: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              h3 {
                text-align: center;
                margin-left: 10px;
              }
              p {
                font-size: 11px;
              }
            }
          }
        }
      }

      .text-kanan {
        h3 {
        }
        p {
        }
      }
    }

    .text-aboutus {
      font-size: 11px;
      h3,
      h4 {
      }
    }

    .text-usaha {
      font-size: 11px;
      h3,
      h4 {
      }
    }
    .detail-usaha {
    }

    .team {
      width: 100%;
      // display: grid;
      // place-items: center;
      h3 {
        font-size: 15px;
      }

      .team-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // display: grid;
        // grid-template-columns: repeat(2, 50%);

        .bagus {
          max-width: 150px;
        }
        .nama {
          font-size: 13px;
        }
        .jabatan {
          font-size: 11px;
        }
      }

      img {
        width: 90%;
      }
    }
    .maps {
      .maps-konten {
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .aboutus-parent {
    h2 {
      font-size: 20px;
    }

    .aboutus {
      .mySwiper {
        .slide {
          .tes {
            display: flex;
            flex-direction: column;
            align-items: center;
            .foto-about {
              img {
              }
            }

            .teks-about {
              h3 {
              }
              p {
                font-size: 8px;
              }
            }
          }
        }
      }

      .text-kanan {
        h3 {
        }
        p {
        }
      }
    }

    .text-aboutus {
      font-size: 9px;
      h3,
      h4 {
      }
    }

    .text-usaha {
      font-size: 9px;
      h3,
      h4 {
      }
    }
    .detail-usaha {
    }

    .team {
      h3 {
        font-size: 13px;
      }

      .team-child {
        .bagus {
          max-width: 155px;
        }
        .nama {
          font-size: 12px;
        }
        .jabatan {
          font-size: 10 px;
        }
      }

      img {
        width: 100%;
      }
    }
    .maps {
      .maps-konten {
      }
    }
  }
}
